{
  "extends": ["airbnb-typescript/base"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],

  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "linebreak-style": 0,
    "object-curly-newline": 0,
    "object-property-newline": 0,
    "no-console": 0,
    "implicit-arrow-linebreak": 0,
    "function-paren-newline": 0,
    "import/prefer-default-export": "off",
    "indent": "off",
    "no-use-before-define": "off",
    "arrow-body-style": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-use-before-define": 0,
    "import/extensions": [
      "warn",
      "never",
      { "js": "never", "ts": "never", "tsx": "never", "jsx": "never" }
    ]
  }
}
