# modules
node_modules

server/config/*.ts
# env
.env
.env.*

# migrations
prisma/migrations
prisma/migrations/*

# frontend
frontend/node_modules
react-ui/node_modules

# builds
react-ui/build
server/build

#workspace
.vscode
